
<div class="content content-step content-step-{{step}} workout-{{workout.id}}" ng-swipe-left="skip()" ng-swipe-right="pause()">

  <header>
    <div class="progress-bar">
      <div style="width:{{100 * (step / total)}}%"></div>
    </div>
    <span class="pull-right exit" ng-click="exit()"><i class="icon-remove"></i></span>
  </header>

  <div class="content-title">
    <h1>
      <span>Step {{step}}</span>
      <strong>{{workout.name | firstWord}}</strong> {{workout.name | followingWords}}
    </h1>
  </div>

  <div class="timer">
    <span>{{timer}}</span>
  </div>

  <div class="picture-holder">
    <div class="picture"></div>
  </div>

  <div style="overflow:hidden">
  <div style="overflow:auto">
  <ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat aliquam nibh, nec rhoncus lacus auctor ac. Ut interdum urna arcu, ut aliquam risus consequat in. Vestibulum ornare augue erat, eu congue lectus pretium a. Donec at nisi massa. Quisque nec ante mollis, commodo orci vitae, blandit purus. Aliquam ac nibh consequat, congue elit et, molestie quam. Maecenas a mollis risus. Integer vel nunc augue. Cras enim dui, mattis et tempus sed, blandit et erat. Fusce eu dui mollis eros tristique interdum.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat aliquam nibh, nec rhoncus lacus auctor ac. Ut interdum urna arcu, ut aliquam risus consequat in. Vestibulum ornare augue erat, eu congue lectus pretium a. Donec at nisi massa. Quisque nec ante mollis, commodo orci vitae, blandit purus. Aliquam ac nibh consequat, congue elit et, molestie quam. Maecenas a mollis risus. Integer vel nunc augue. Cras enim dui, mattis et tempus sed, blandit et erat. Fusce eu dui mollis eros tristique interdum.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat aliquam nibh, nec rhoncus lacus auctor ac. Ut interdum urna arcu, ut aliquam risus consequat in. Vestibulum ornare augue erat, eu congue lectus pretium a. Donec at nisi massa. Quisque nec ante mollis, commodo orci vitae, blandit purus. Aliquam ac nibh consequat, congue elit et, molestie quam. Maecenas a mollis risus. Integer vel nunc augue. Cras enim dui, mattis et tempus sed, blandit et erat. Fusce eu dui mollis eros tristique interdum.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat aliquam nibh, nec rhoncus lacus auctor ac. Ut interdum urna arcu, ut aliquam risus consequat in. Vestibulum ornare augue erat, eu congue lectus pretium a. Donec at nisi massa. Quisque nec ante mollis, commodo orci vitae, blandit purus. Aliquam ac nibh consequat, congue elit et, molestie quam. Maecenas a mollis risus. Integer vel nunc augue. Cras enim dui, mattis et tempus sed, blandit et erat. Fusce eu dui mollis eros tristique interdum.</li>
  </ul>
  </div>
  </div>

  <footer>
    <button type="button" class="button pull-left" ng-click="pause()" ng-bind="pauseText()"></button>
    <i class="icon-pause" ng-show="paused"></i>
    <button type="button" class="button pull-right" ng-click="skip()" ng-bind="skipText()"></button>
    <div class="progress-bar">
      <div style="width:{{100 * (1 - timer / duration)}}%"></div>
    </div>
  </footer>

</div>
