<nav-page title="pet.title">
  <content has-header="true" scroll="true" padding="true">
  	<h3>{{pet.title}}</h3>
    <p>{{pet.description}}</p>

    <!-- <slide-box style="width:100%; height:300px;">
	  <slide style="width:100%;height:100%;background-color:blue;">
	    <div class="box blue"><h1>BLUE</h1></div>
	  </slide>
	  <slide style="width:100%;height:100%;background-color:yellow;">
	    <div class="box yellow"><h1>YELLOW</h1></div>
	  </slide>
	  <slide style="width:100%;height:100%;background-color:pink;">
	    <div class="box pink"><h1>PINK</h1></div>
	  </slide>
	</slide-box> -->

	<div class="list card">

        <div class="item item-avatar">
          <img src="http://ionicframework.com/img/docs/mcfly.jpg">
          <h2>Marty McFly</h2>
          <p>November 05, 1955</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of a Tab Bar, icons aligned left, within the card-footer.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>

      </div>

	<div class="list card">

	  <div class="item item-avatar">
	    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
	    <h2>Marty McFly</h2>
	    <p>November 05, 1955</p>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
	    <p>
	      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
	      the content is from a card-body consisting of an image and paragraph text. The footer
	      consists of a Tab Bar, icons aligned left, within the card-footer.
	    </p>
	    <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsup"></i>
	      Like
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-chatbox"></i>
	      Comment
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      Share
	    </a>
	  </div>

	</div>

  </content>
</nav-page>
